PolyAlu.aux
clash-haskell09.aux
clash-haskell09.fdb_latexmk
clash-haskell09.log
clash-haskell09.nav
clash-haskell09.out
clash-haskell09.ptb
clash-haskell09.snm
clash-haskell09.synctex.gz
clash-haskell09.tex
clash-haskell09.toc
demo.aux
howdoesitwork.aux
introduction.aux
mealymachine.pdf
preamble.aux
reducer.aux
summery.aux
